<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Particpant</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content participant-list">
  <ion-card *ngFor="let participant of particpant" class="participant">

    <ion-card-header>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="participant.profilePic">
        </ion-avatar>
        {{participant.name}}
        <button ion-button icon-only (click)="openContact(participant)" clear item-right>
          <ion-icon name="help-circle"></ion-icon>
        </button>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="outer-content">
      <ion-list>
        <button ion-item *ngFor="let session of participant.sessions" (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
        </button>
        <button ion-item (click)="goToparticipantDetail(participant)">
          <h3>About {{participant.name}}</h3>
        </button>
      </ion-list>
    </ion-card-content>

    <ion-item>
      <button ion-button icon-left (click)="goToparticipantTwitter(participant)" clear item-left>
        <ion-icon name="logo-twitter"></ion-icon>
        Tweet
      </button>
      <button ion-button icon-left (click)="openparticpanthare(participant)" clear item-right>
        <ion-icon name="share"></ion-icon>
        Share
      </button>
    </ion-item>

  </ion-card>
</ion-content>
